footer   {
    border-top: $standard-border solid $mainColor;
    color: $mainColor;
    font-weight: bold;
    font-size: $small-size;
    line-height: 1em;
}

@media (max-width: $breakpointOne) 
{
    footer 
    {
        font-size: $small-size;
    }
}

