footer   {
    border-top: $standard-border solid $mainColor;
    color: $mainColor;
    font-weight: bold;
    font-size: $small-size;
    line-height: 1em;
    width: 70vw;
    margin-left: 25vw;
}

footer p {
    margin-left: 5vw;
}

@media (max-width: $breakpointOne) 
{
    footer 
    {
        font-size: $small-size;
    }
}

