.fullStory  {   
    display: flexbox;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: $standard-margin;
    padding-left: $standard-padding;
    width: 70vw;
    line-height: $large-size;
    box-shadow: 0 0 15px $mainColor;
    padding: $small-padding;
    }

.fullStory h3, .fullStory p  {
    padding-left: $standard-padding;
}

.fullStory img  {max-width: 65vw;
        max-height: 110vh;
        padding: $standard-padding;}

.fullStory .comment  {
    font-weight: bold;
    margin: $standard-margin;
    font-style: italic;
    border-bottom: $small-border solid $secondColor;
    padding: $standard-padding;
    word-wrap: break-word;
}

.author {
    color: $secondColor;
}

@media (max-width: $breakpointOne) 
{ .fullStory {
    width: 90vw;
    margin: $standard-margin;
}

.fullStory .comment  {
    font-size: $medium-size;} 

}