.fullStory  {   
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    margin-bottom: 3vh;
    padding-left: 1vw;
    width: 70vw;
    line-height: $large-size;
    box-shadow: 0 0 15px $mainColor;
    padding: 0.5vw;
    }

.fullStory h3, .fullStory p  {
    padding-left: 1vw;
}

.fullStory img  {max-width: 65vw;
        max-height: 95vh;
        padding: 1vw;}

.fullStory .comment  {
    font-weight: bold;
    margin: 1vw;
    max-width: 40vw;
    font-style: italic;
    border-bottom: 1px solid $mainColor;
    padding: 1vw;
    word-wrap: break-word;
}

.fullStory li {
    list-style-type: none;
}

.author {
    color: $mainColor;
    font-weight: normal;
}

@media (max-width: $breakpointOne) 
{ .fullStory {
    width: 90vw;
    margin: 2vw;
}

.fullStory .comment  {
    max-width: 70vw;

}
}