header  {
    background-color: $mainColor;
    color: white;
    padding: 0.85vw;
    text-align: left;
    border-left: 1vw solid $secondColor;
    border-right: 1vw solid $thirdColor;
    border-bottom: 1vw solid white;
    max-height: 28vh;
    display: inline-flex;
    justify-content: space-between;
}

header img  {
    max-height: 90%;

}

.logoSearch {
    display: inline-flex;
    align-items: center;
}
.titles    {
    padding: 1vw;
    line-height: 0.5;
    text-align: right;
}

h1   {
    font-size: $xl-size;
    font-family: 'Lobster';
}

header h2   {
    font-size: $large-size;
}


@media (max-width: $breakpointOne) 
{            
            header {
                max-height: 10vh;
            }   
            header img {
                max-height: 10vh;
            }
            header h1 {
                font-size: $large-size;
            }
            .story img {
                max-height: 90vh;
            } 
}