header  {
    background-color: $mainColor;
    color: white;
    padding: 1vw;
    width: 88.75vw;
    text-align: left;
    border-left: 1vw solid $secondColor;
    border-right: 1vw solid $thirdColor;
    border-bottom: 1vw solid white;
    height: 28vh;
    display: grid;
    grid-template-columns: 6/1fr;
    justify-content: space-between;
}

header img  {
    max-width: 70%;
    grid-column: 1/2;
}

.titles    {
    padding: 1vw;
    grid-column: 4/6;
    line-height: 0.5;
    text-align: right;
}

h1   {
    font-size: $xl-size;
    font-family: 'Lobster';
}

header h3   {
    font-size: $medium-size;
}