header  {
    background-color: $mainColor;
    color: white;
    padding: $small-padding;
    text-align: left;
    border-left: $standard-border solid $secondColor;
    border-right: $standard-border solid $thirdColor;
    border-bottom: $standard-border solid white;
    max-height: 20vh;
    display: inline-flex;
    justify-content: space-between;
}

header img  {
    max-height: 18vh;

}

.logoSearch {
    display: inline-flex;
    align-items: center;
    max-width: 45%;
}
.titles    {
    padding: $standard-padding;
    padding-top: 0;
    text-align: right;
}

h1   {
    font-size: $xl-size;
    font-family: 'Lobster';
}

header h2   {
    font-size: $large-size;
}


@media (max-width: $breakpointOne) 
{            
            header {
                max-height: 15vh;
            }   
            header img {
                max-height: 10vh;
            }
            header h1 {
                font-size: $large-size;
            }
            header h2{
                font-size: $medium-size;
            }
            .story img {
                max-height: 90vh;
            }
            .story titles {
                line-height: 1vw;
            } 
}
@media (max-width: $breakpointTwo) {
 
    header {
        max-height: 30vh;
    }
    header h1 {
        font-size: $large-size;
        line-height: 1vw;
    }
    header h2{
        font-size: $medium-size;
    }

}

@media (max-width: $breakpointThree) {
 
    header {
        max-height: 30vh;
    }
    header h1 {
        font-size: $large-size;
        line-height: 8 vw;
    }
    header h2{
        font-size: $small-size;
    }

}