.search  {
    grid-column: 4/6;
}

input   {
    border: 5px solid white;
    border-right: 1vw solid $secondColor;
    min-height: 2vw;
    font-size: $medium-size;
    color: white;
    font-weight: bold;
    width: 20vw;
    background-color: $mainColor;
    text-align: right;  
    margin-bottom: 3vw;
}

.searchIcon {
    font-size: 4em;
    align-self: flex-end;
    justify-self: flex-end;
    padding-top: 1vw;
    padding-right: 1vw;
}

input::placeholder {
    color: white; 
}

.right-aligned  {
    float: right;
    background-color: $mainColor;
    color: white;
    border: 5px solid white;
    border-right: 1vw solid $secondColor;
    padding: 0;
    margin-bottom: 0.2rem;
}