aside p {font-size: $medium-size;
        text-align: center;
        color: $secondColor;
        font-weight: bold;}

aside {
    max-width: 20vw;
    display: flexbox;
    flex-direction: column;
    justify-content: center;
    margin-right: 2vw;
}

button  {
    min-width: 15vw;
    padding: 0.8vw;
    margin-left: 2vw;
    margin-top: 1vw;
    background-color: $secondColor;
    color: white;
    font-weight: bold;
    border: none;
    border-left: 1vw solid $mainColor;
    border-radius: 5px;
    font-size: $medium-size;
    
}