aside p {font-size: $medium-size;
        text-align: center;
        color: $secondColor;
        font-weight: bold;
}

aside {
    max-width: 19vw;
    display: flexbox;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 1vw;
}

.sidebars {
    justify-content: space-around;
}

button  {
    width: 17vw;
    margin-left: 1vw;
    padding: 1vw 0;
    margin-top: 1vw;
    background-color: $secondColor;
    color: white;
    font-weight: bold;
    border: none;
    border-left: 1vw solid $mainColor;
    border-radius: 5px;
    font-size: $medium-size;
    word-wrap: break-word;
}

@media (max-width: $breakpointOne) 
{
    aside {
        flex-direction: row;
        width: 96vw;
        justify-content: space-between;
        flex-wrap: nowrap;
    } 
    button {
        font-size: $small-size;
        height: 25%;
        width: 32%;
       }
    aside p {
        display: none;
    }
}

