aside p {font-size: $medium-size;
        color: $secondColor;
        font-weight: bold;
}

aside {
    width: 19vw;
    display: flexbox;
    flex-direction: column;
    justify-content: center;
    margin-right: $standard-margin;
}

button  {
    width: 17vw;
    margin-left: $standard-margin;
    padding: $standard-padding 0;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    font-size: $medium-size;
    word-wrap: break-word;
    margin-top: $standard-margin;
    background-color: $secondColor;
    color: white;
    border-left: $standard-border solid $mainColor;
    
}

@media (max-width: $breakpointOne) 
{
    aside {
        flex-direction: row;
        width: 96vw;
        justify-content: space-between;
        flex-wrap: nowrap;
    } 
    button {
        font-size: $small-size;
        height: 25%;
        width: 32%;
       }
    aside p {
        display: none;
    }
}

