.storyContainer {
    margin-top: 2vw;
    width: 56vw;
    font-size: $medium-size;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.stories {
    font-size: $large-size;
    color: $mainColor;
    font-weight: 500;
    display: flex;
    flex-wrap:wrap;
    flex-direction: row;
    }

.story  {   
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 3vh;
    padding-left: 1vw;
    width: 54vw;
    min-height: 50vh;
    line-height: $large-size;
    box-shadow: 0 0 15px $mainColor;
    }

.storyText {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: flex-start;

}

.story p {
    color: $secondColor;
    font-size: $medium-size;
    line-height: normal;
    font-weight: bold; 
    text-align: left;}

.story h3{
    font-size: $medium-size;
}

.story li {
    font-size: $medium-size;
    list-style-type: none;
}

.story img  {max-width: 25vw;
    padding-right: 1vw;}



.small-button  {
    min-width: 10vw;
    padding: 0.5vw;
    background-color: $secondColor;
    color: white;
    border: none;
    margin-bottom: 1vw;
    border-left: 1vw solid $mainColor;
    border-radius: 5px;
    font-size: $small-size;
}

.tag    {border-right: 0.5rem solid $secondColor;
        border-radius: 5px;
        background-color: $mainColor;
        padding: 0.5rem;
        color: white;
        font-weight: bold;
        }