.storyContainer {
    width: 75vw;
    font-size: $medium-size;
    display: flex;
    flex-direction: column;
    font-weight: bold;
    justify-items: space-around;
}

.stories {
    font-size: $medium-size;
    color: $mainColor;
    display: flex;
    justify-content: space-around;
    flex-wrap:wrap;
    flex-direction: row;
    }


.story  {   
    display: flex;
    flex-direction: column;
    margin: $standard-margin;
    padding: $small-padding;
    line-height: normal;
    box-shadow: 0 0 1vw $mainColor;
    justify-content: flex-start;
    align-items: center;
    font-size: $medium-size;
    }

.storyText {
    display: flex;
    flex-direction: column;
    width: 14vw;
    text-align: center;
}

.story p {
    color: $secondColor;
    line-height: 1vw;       
    font-size: $small-size;
    }

.story h3{
    word-wrap: break-word;
    font-size: $medium-size;
}

.story li {
    list-style-type: none;
}


.story img  {
    width: 12vw;
    margin-left: $standard-margin;
    margin-right: $standard-margin;
    height: fit-content;

}



.yellow-button  {
    background-color: $thirdColor;
    color: $mainColor;
    border: none;
    padding: $standard-padding;
    margin-bottom: $standard-margin;
    border-left: $standard-border solid $mainColor;
    width: 12vw;
    margin-left: $standard-margin;
    margin-right: $standard-margin;
    height: 3vw;
    font-size: $small-size;
}

.tag    {border-right: $small-border solid $secondColor;
        border-radius: 5px;
        background-color: $mainColor;
        padding: $standard-padding;
        color: white;
        font-weight: bold;
        width: 12vw;
        margin-left: $standard-margin;
        }

@media (max-width: $breakpointOne) 
{            
            .storyContainer {
                width: 96vw;
                text-align: left;
                padding-left: $standard-padding;
                font-size: $small-size;
            }  
            
            .story {
                font-size: $small-size;
                align-items: flex-start;
            }

            .small-view {
                display: flexbox;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 45vw;
            }
            
            .storyText {
                width: 45vw;
                align-items: center;
            }
            .story img {
                width: 40vw;
            } 

            .story p {
                text-align: center;
            }
            .yellow-button  {
                width: 40vw;
                margin-left: 2.5vw;
                height: 6vw;
            }           

            .tag
            {margin-left: 2.5vw;}
}

@media (max-width: $breakpointTwo) 
{   .stories    {
    flex-direction: column;
    flex-wrap: nowrap;
}

.story {
    font-size: $small-size;
    align-items: flex-start;
    display: flex;
    flex-direction: row;

    .small-view {
        display: flexbox;
        flex-direction: column;
        width: 45vw;
    }
}
.storyText {
    width: 55vw;
    align-items: flex-start;
}
.story img {
    width: 40vw;
} 

.story p {
    text-align: left;
}
.yellow-button  {
    width: 38vw;
    height: 8vw;}           
}

