.asideSub p {font-size: $medium-size;
        text-align: center;
        color: $secondColor;
        font-weight: bold;}

.asideSub {
    max-width: 19vw;
    display: flexbox;
    flex-direction: column;
    justify-content: center;
    margin-left: 1vw;
}

.buttonSub  {
    min-width: 15vw;
    padding: 0.8vw;
    margin-left: 2vw;
    margin-top: 1vw;
    background-color: $thirdColor;
    color: $mainColor;
    font-weight: bold;
    border: none;
    border-right: 1vw solid $mainColor;
    border-radius: 5px;
    font-size: $medium-size;
    
}