.asideSub p {font-size: $medium-size;
        text-align: center;
        color: $secondColor;
        font-weight: bold;}

.asideSub {
    max-width: 19vw;
    display: flexbox;
    flex-direction: column;
    justify-content: center;
    margin-right: 1vw;
}

.buttonSub  {
    width: 17vw;
    margin-right: 1vw;
    padding: 0.8vw;
    margin-top: 1vw;
    background-color: $thirdColor;
    color: $mainColor;
    font-weight: bold;
    border: none;
    border-right: 1vw solid $mainColor;
    border-radius: 5px;
    font-size: $medium-size;
    word-wrap: break-word;
}

@media (max-width: $breakpointOne) 
{
    .asideSub {
        flex-direction: row;
        max-width: 96vw;
    } 
    .buttonSub {
        font-size: $small-size;

    
}
}