.asideSub p {font-size: $medium-size;
        text-align: center;
        color: $secondColor;
        font-weight: bold;}

.asideSub {
    width: 20vw;
    display: flexbox;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: $standard-margin;
    top: 30vh;
    max-height: 25vh;
    overflow-y: scroll;
    }

.buttonSub  {
    width: 17vw;
    margin-left: $standard-margin;
    padding: $standard-padding 0;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    font-size: $medium-size;
    word-wrap: break-word;
    margin-top: $standard-margin;
    background-color: $thirdColor;
    color: $mainColor;
    border-right: 1vw solid $mainColor;
    
}

@media (max-width: $breakpointOne) 
{
    .asideSub {
        flex-direction: row;
        width: 90vw;
        justify-content: space-between;
        flex-wrap: nowrap;
        max-height: fit-content;
        top: 19vh;
        background-color: white;
        margin-top: 0;
        } 
    .buttonSub {
        font-size: $small-size;
        height: 25%;
        width: 32%;
       }
    }

