*   {font-family: 'Roboto Slab', sans-serif;
    word-wrap: break-word;
}

html {
    font-size: 62.5%;
    margin: 0;
    padding: 0;
    line-height: normal;
}

a   {text-decoration: none;
    color: $secondColor;
    font-weight: bold;
}

.outerContainer {
    width: 98vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
   }


.innerContainer {
    margin-bottom: $large-margin;
    min-height: 80vh;
    width: 96vw;
    margin-right: $standard-margin;
    display: inline-flex;
    border-left: $standard-border solid $secondColor;
    border-right: $standard-border solid $thirdColor;
    background-color: white;
}


button {
cursor: pointer;
}

@media (max-width: $breakpointOne) 
{
    .innerContainer {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    } 
}
@media (max-width: $breakpointTwo) {
   *    {font-family: Roboto, sans-serif;}
} 