$mainColor: #c40000;
$secondColor: #2477d6;
$thirdColor: #f7d024;

$xsmall-size: 0.9rem;
$small-size:1.2rem;
$medium-size: 1.6rem;
$large-size: 3rem;
$xl-size:6rem;

$breakpointOne: 1000px;
$breakpointTwo: 750px;